[submodule "libs/lodepng"]
	path = libs/lodepng
	url = git@github.com:lvandeve/lodepng.git
[submodule "libs/infoware"]
	path = libs/infoware
	url = git@github.com:Teapot4195/infoware.git
[submodule "libs/reproc"]
	path = libs/reproc
	url = git@github.com:DaanDeMeyer/reproc.git
